label {
    display: block;
    font: 1rem 'Roboto', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

button {
    display: block;
}

:host {
    display: block;

    mat-toolbar {
        position: fixed;
        top: 0;
        z-index: 1;
    }

    mat-card {
        margin-bottom: 15px;

        mat-calendar {
            width: 325px;
        }

        pre {
            max-height: 161px;
            overflow-y: auto;
        }
    }

    .full-width {
        width: 100%;
    }
}